
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
	margin: 30px;
}
	
a {
  text-decoration: none;
}

.formulario{
	margin: auto;
	background-color: lightgray;
	border: solid 1px black;
	padding: 20px;
	width: 60%;
}

.resposta{
	margin: auto;
	background-color: lightgreen;
	border: solid 1px black;
	padding: 20px;
	width: 60%;
	line-height: 1.4em;
}